<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no"
	default-dependency-check="none">
		<!-- 发送端 -->
		<bean id="userJmsUtil"
			class="com.kurui.kums.jms.jboss.example1.spring.UserJmsTransactionUtil">
			<property name="connectionFactoryJndiLookUp"
				value="java:JmsXA">
			</property>
			<property name="destinationJndiLookUp" value="queue/A"></property>
			<property name="localConnectionFactoryJndiLookUp"
				value="ConnectionFactory">
			</property>
		</bean>

		<bean id="connectionFactory"
			class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
			<property name="targetObject" ref="userJmsUtil"></property>
			<property name="targetMethod"
				value="getConnectionFactory">
			</property>
		</bean>

		<bean id="queue"
			class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
			<property name="targetObject" ref="userJmsUtil"></property>
			<property name="targetMethod" value="getJmsDestination"></property>
		</bean>

		<bean id="jmsQueue"
			class="org.springframework.jms.core.JmsTemplate">
			<property name="connectionFactory"
				ref="connectionFactory">
			</property>
			<property name="defaultDestination" ref="queue"></property>
			<property name="messageConverter">
				<bean
					class="org.springframework.jms.support.converter.SimpleMessageConverter">
				</bean>
			</property>
		</bean>
</beans>